{% extends "home.html.twig" %}


{% block title %}
	hello title
{% endblock %}
{% block body %}


	<h1>{{title}}</h1>
	<p>
		Hello
		{{tableau}}
		j'hérite du template de home.html.twig
	</p>

{% endblock %}
